/* --- ШАПКА --- */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__logo {
  width: 148px;
}

.header__address {
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  justify-self: end;
}

/* --- ОБЛОЖКА --- */
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 135px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  min-height: 757px;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  z-index: 1;
}

.cover__description-text {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  font-family: inherit;
  cursor: pointer;
}

/* --- ЛОТЫ --- */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  color: #fff;
  z-index: 1;
}

/* --- ОБ АУКЦИОНЕ --- */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 180px 50px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

/* --- ФУТЕР --- */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.footer__social-list {
  display: flex;
  gap: 16px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
